# Ignorar binários e dependências locais
*.exe
*.o
*.a
*.out
*.log
.idea/
.vscode/
node_modules/
vendor/
bin/
dist/
*.env
.cursor/
.cursorrules/
.cursorignore/
.cursor
liquid-swap-service/package-lock.json
*./package-lock.json
